body {
    background: url("global-currency-background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}

#first-p {
    text-align: center;
}

.repair p {
    font-size: 15px;
    color: red; 
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    height: 50vh; 
    background-color: #0055ff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

p {
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}

input[type="number"], select {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

input[type="number"] {
    border: 1px solid gray;
    font-weight: bold;
}

select {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

#results {
    margin-top: 10px;
    background-color: rgb(245, 244, 242);
    color: rgb(11, 11, 11);
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0;
}

#results > p {
    background-color: rgb(245, 244, 242);
    font-size: 20px;
    text-align: center;
}

.btn, .btn2 {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 20px auto;
    display: block;
}

.btn {
    background-color: #FFA500; 
    color: aliceblue;
}

.btn:hover {
    background-color: rgb(211, 159, 64);
    cursor: pointer;
}

.btn2 {
    background-color: #5500FF; 
    color: aliceblue;
    font-size: 18px;
}

.btn2:hover {
    background-color: rgb(148, 139, 165);
    cursor: pointer;
}

.from, .currencies-one, #exchange-container, .converter, .refresh, #last-par {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    gap: 20px; 
}

#last-par {
    font-size: 14px;
    margin-top: 20px;
}

#container div {
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .from, #exchange-container, .converter, .refresh {
        flex-direction: row;
        justify-content: space-between;
    }
}
body {
    font-size: 16px; 
    line-height: 1.5; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
    }

    body {
        font-size: 14px; 
    }
}


.element {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 30%; 
}

@media (max-width: 600px) {
    .element {
        flex-basis: 100%; 
        font-size: 14px;
    }
}


