body{
    background: url("./public/global-currency-background.jpeg");
}

h1{
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}

#first-p{
    text-align: center;
}

.container{
    margin-left: 12%;
    width: 75%;
    height: 400px;
    background: #0055ff;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}




p {
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
    
    
}

input[type="number"]{
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    outline:none;
    font-weight: bold;
    font-size:20px;
    text-align: center;
}

select{
   margin-left: 40px; 
   width: 300px;
   height: 40px;
   border-radius: 10px;
   font-size: 20px;
}

.btn{
    margin: 40px 100px;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: none; 
    background: orange;
    color: aliceblue; 
    font-size: 30px;
}

.btn:hover{
    background:rgb(211, 159, 64);
    cursor: pointer;
}

#results{
    margin-left: 5px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none; 
    background: rgb(245, 244, 242);
    color: rgb(11, 11, 11); 
    font-size: 30px;
    text-align: center;
    
}

#results > p{
  
    background: rgb(245, 244, 242);
    font-size: 30px;
    text-align: center;
}

.from{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#exchange-container{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

#container div{
    align-items: center;
    margin: 40px;
    width: 100%;
}

.converter{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.refresh{
    display: flex;
    align-content: center;
    align-items: center; 
    justify-content: flex-end;
    width: 85%;
    margin-top: 35px;
   
}

.btn2{
   
    width: 65%;
    border-radius: 10px;
    border: none; 
    background: rgb(85, 0, 255);
    color: aliceblue; 
  
}

.btn2:hover{
    background: rgb(148, 139, 165);
    cursor: pointer;
}

#last-par{
    font-size: 12px;
    
    display: flex;
    align-content: center;
    align-items: center; 
    justify-content:flex-end;
    width: 85%;
    margin-top: -30px;
}